- @ideas.each do |idea|
  .row
    .idea{data: {idea_id: idea.id}}
      .col-md-2.likes
        .idea-like.fa.fa-thumbs-up
        .idea-unlike.fa.fa-thumbs-down
      .col-md-8
        %h2.idea-title= idea.title
        .idea-description= idea.description