.jumbotron 
  %h1.home-header Start It Up
  %p Welcome to Start It Up, a start-up idea rating hub
  %span
    = link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-lg'
    = link_to "Login", new_user_session_path, class: 'btn btn-lg'
