@import "bootstrap-sprockets";
@import "bootstrap";

$iconSpritePath: image-url("twitter/bootstrap/glyphicons-halflings.png");
$iconWhiteSpritePath: image-url("twitter/bootstrap/glyphicons-halflings-white.png");

@import "font-awesome-sprockets";
@import "font-awesome";

$fontAwesomeEotPath: font-url("fontawesome-webfont.eot");
$fontAwesomeEotPath_iefix: font-url("fontawesome-webfont.eot?#iefix");
$fontAwesomeWoffPath: font-url("fontawesome-webfont.woff");
$fontAwesomeTtfPath: font-url("fontawesome-webfont.ttf");
$fontAwesomeSvgPath: font-url("fontawesome-webfont.svg#fontawesomeregular");

@import "bootstrap-tagsinput";
@import "dashboard";
@import "ideas";

$error-red: #ff0033;

.container {
  margin-right: 40px;
  margin-left: 40px;
}

.input-group {
  width: 100%;
}

.bootstrap-tagsinput {
  width: 100%;
}

.submit-button {
  margin-top: 20px;
}

.error-text{
  font-weight: 200;
  color: $error-red;
  font-size: 14px;
}

.hint-text {
  font-weight: 200;
  font-size: 14px;
}

footer {
  margin-top: 40px;
}