.idea {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.likes {
  text-align: center;
  height: 100%;
  margin-top: 20px;
  font-size: 3em;
}

.idea-description {
  font-weight: 200;
}

.idea-header {
  display: inline-block;
}

.idea-text {
  margin-top: 10px;
}

.idea-link {
  text-decoration: none;
  margin-right: 40px;
  font-size: 3em;
  font-weight: 400;
  display: inline-block;
}

.like-count, .dislike-count {
  display: inline-block;
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 20px;
}

.filter-button {
  margin-top: 10px;
}