.idea {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.likes {
  text-align: center;
  height: 100%;
  margin-top: 20px;
  font-size: 3em;
}

.idea-description {
  font-weight: 200;
  border: 1px solid #337AB7;
  border-radius: 4px;
  margin: 20px;
  padding: 10px;
}

.idea-header {
  display: inline-block;
}

.idea-text {
  margin-top: 10px;
}

.idea-link {
  text-decoration: none;
  margin-right: 40px;
  font-size: 2.25em;
  font-weight: 400;
  display: inline-block;
}

.likes-count{
  display: inline-block;
  font-weight: 200;
  margin-top: 30px;
}

.filter-button {
  margin-top: 10px;
}

.action-buttons {
  margin-top: 30px;
}

.hint-text {
  font-weight: 180;
  font-size: 0.9em;
}