input {
  width: 100%;
}

.idea-title{
  text-align: center;
  font-weight: 275;
}

.show-likes {
  text-align: center;
  font-size: 1.25em;
}

.like-buttons {
  text-align: center;
  font-size: 3em;
}

.show-description {
  font-size: 1.5em;
  font-weight: 215;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}